#history .axis path,
#history .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


#history .line_alcohol {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
#history .line_deads {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}