#history {
  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }

  .line {
    fill: none;
    stroke-width: 1.7px;
    stroke: #F0F;
  }

  .line_lightly_injureds {
    .line;
    stroke: steelblue;
  }
  .line_deads {
    .line;
    stroke: red;
  }
  .line_seriously_injureds {
    .line;
    stroke: orange;
  }
}
#history_controls_form {
  z-index: 5;
  position: absolute;
  top: 50px;
  right: 25px;
  width: 150px;
  height: 100px;
  padding: 5px;
}
