<div class="col-sm-1 hidden-xs">&nbsp;</div>
{{#laws}}
<div class="col-sm-2 col-xs-6">
    <h5>{{year_from}} - {{year_to}}</h5>
    <div class="row">
        <div class="col-xs-6">
            <img class="img-responsive" src="/img/speed/in_town.svg">
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="/img/speed/{{in_town}}.svg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img class="img-responsive" src="/img/speed/out_town.svg">
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="/img/speed/{{out_town}}.svg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img class="img-responsive" src="/img/speed/highway.svg">
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="/img/speed/{{highway}}.svg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img class="img-responsive" src="/img/alcohol/sign.svg">
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="/img/alcohol/{{alcohol}}.svg">
        </div>
    </div>
</div>
{{/laws}}
<div class="col-sm-1 hidden-xs">&nbsp;</div>
