<div class="row popup-body">
    <div class="col-xs-12">
        <img src="img/flags/{{ abbr }}.svg" alt="{{ abbr }}" height="50" />
        <span class="popup-flag-title">{{abbr}}</span>

    </div>
    <div class="col-sm-12">
        <ul>
            <li>Total : {{cantonStats.total }}</li>
            <li>Morts : {{cantonStats.dead}}</li>
            <li>Sévèrement blessés : {{cantonStats.seriously_injured}}</li>
            <li>Légèrement blessés : {{cantonStats.lightly_injured}}</li>
        </ul>
    </div>
</div>
