<form id="swissmap_controls_form" class="pull-right">
    <input id="map-layer-dead" type="radio" name="map_layer" value="dead" checked="checked">
    <label for="map-layer-dead">{{victims_type_names.dead}}</label>
    <br/>
    <input id="map-layer-seriously" type="radio" name="map_layer" value="seriously_injured">
    <label for="map-layer-seriously">{{victims_type_names.seriously_injured}}</label>
    <br/>
    <input id="map-layer-lightly" type="radio" name="map_layer" value="lightly_injured">
    <label for="map-layer-lightly">{{victims_type_names.lightly_injured}}</label>
    <br/>
</form>
